<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109973744082-3gpno0vep891etmvrr0g5ihha3md6isv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109973744082-3gpno0vep891etmvrr0g5ihha3md6isv</string>
	<key>API_KEY</key>
	<string>AIzaSyBEZfAAJYxjnfbfqN5rG-53Vbt-v6HJfDo</string>
	<key>GCM_SENDER_ID</key>
	<string>109973744082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leeaidan.playlist-pro</string>
	<key>PROJECT_ID</key>
	<string>playlist-pro-b914e</string>
	<key>STORAGE_BUCKET</key>
	<string>playlist-pro-b914e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109973744082:ios:6cb45dae0c630a006dc00b</string>
</dict>
</plist>